/* External CSS - for consistent styling across all pages */

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

img {
    border: 2px solid #4CAF50;
}
